<nav [ngClass]="navType" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img class="logo_light" src="assets/logo-white.svg" alt="" />
      <img class="logo_dark" src="assets/logo-black.svg" alt="" />
    </a>
    <a *ngIf="!isLoggedIn" routerLink="/login">Sign in</a>
    <ul *ngIf="isLoggedIn" class="navbar-nav m-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="user-info">
            <h4 class="user-name">{{ userName }}</h4>
            <p class="occupation">{{ jobTitle }}</p>
          </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a (click)="onLogout()" class="dropdown-item" href="">Log out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
